@media (min-width: 500px) {
    .container {
      max-width: 500px;
    }
}

/* actions */

.login .actions{
    position: static;
    width: 100%;
    padding-bottom: 5rem;
    font-size: 0;
}
.login .actions .action {
    display: inline-block;
    width: 50%;
    padding-bottom: 1rem;
    color: var(--murmur-light-light-gray);
    text-align: center;
    cursor: pointer;          
    transition: 0.2s ease color;
}
.login .actions .action span {
    margin: auto;
    font-size: 1.05rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
  
.login .indicator {
    position: relative;
    left: 0%;
    bottom: 0;
    width: 50%;
    height: 0.2rem;
    background-color: var(--murmur-light-light-gray);
    transition: 0.2s ease left;
}
.login .actions .action:nth-child(2):hover + .indicator {
    left: 50%;
}

/* inputs */

.inputs {
    padding-bottom: 5rem;
}
.input {
    position: relative;
    width: 100%;
    margin: 5rem auto;
    color: var(--murmur-light-light-gray);
}
  
.input input[type="text"] {
    width: 100%;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: var(--murmur-light-light-gray);
    background-color: var(--murmur-dark-black);
    caret-color: var(--murmur-light-gray);
    border: none;
    outline: none;
    border-bottom: 0.2rem solid var(--murmur-light-light-gray);
    transition: all 0.3s ease-out;
}
  
.input .label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: var(--murmur-gray);
    pointer-events: none;
}
  
.input input[type="text"]:focus + .label,
.input input[type="text"]:valid + .label {
    color: var(--murmur-light-light-gray);
}
  
.input input[type="text"]:focus,
.input input[type="text"]:valid {
    padding-top: 2rem;
    color: var(--murmur-light-light-gray);
}

/* submit */

.submit {
    display: flex;
    position: relative;
    left: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border: solid 0.15rem var(--murmur-light-light-gray);
    color: var(--murmur-light-light-gray);
    background-color: var(--murmur-dark-black);
    border-radius: 100rem;
    transition: all 0.2s linear;
}
  
.submit .material-symbols-outlined {
    font-size: 2rem;
}
  
.submit:hover {
    color: var(--murmur-dark-black);
    background-color: var(--murmur-light-light-gray);;
}
  
/*
.login .indicator from codepen.io by singhimalaya
.input from Uiverse.io by Satwinder04 
*/ 

@media (max-width: 750px) {
    .login .navbar .logo {
        display: block;
        width: 100%;
        text-align: center;
    }
    .login .actions{
        padding-bottom: 3rem;
    }

    .inputs {
        padding-bottom: 3rem;
    }
}