.forward-enter {
  opacity: 0;
  transition: all 0.15s ease-in;
}

.forward-enter-active {
  opacity: 1;
  transition: all 0.15s ease-in;
}

.forward-exit {
  transition: all 0.15s ease-out;
}

.forward-exit-active {
  opacity: 0;
  transition: all 0.15s ease-out;
}

.back-enter {
  opacity: 1;
  transition: all 0.15s linear;
}

.back-enter-active {
  opacity: 0;
  transition: all 0.15s linear;
}

.back-exit {
  opacity: 0;
  transition: all 0.15s linear;
}

.back-exit-active {
  opacity: 1;
  transition: all 0.15s linear;
}