@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Noto+Sans+TC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --murmur-dark-black: #202020;
    --murmur-black: #484848;
    --murmur-dark-gray: #808080;
    --murmur-gray: #b0b0b0;
    --murmur-light-gray: #dbdbdb;
    --murmur-light-light-gray: #f5f5f5;
    --murmur-white: #ffffff;
}

::-moz-selection {
    background-color: transparent;
    color: #000;
}
::selection {
    background-color: var(--murmur-gray);
    color: var(--murmur-dark-black);
}

input[type="search" i]::-webkit-search-cancel-button {
    display: none;
}

html {
    font-size: 15px;
    scrollbar-color: var(--murmur-black) var(--murmur-dark-black);
    background-color: var(--murmur-dark-black);
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    font-family: "Noto Sans TC";
    color: var(--murmur-light-light-gray);
    background-color: var(--murmur-dark-black);
    font-size: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
button {
    color: none;
    background-color: none;
    outline: none;
    border-color: none;
}
p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0.08rem;
    padding-bottom: 1.4rem;
    text-align: justify;
    color: var(--murmur-light-light-gray);
}
a {
    color: var(--murmur-light-light-gray);
    text-decoration: none;
}

.murmur {
    padding-bottom: 30rem;
}

.row {
    justify-content: space-between !important;
}

.vh {
    height: 100vh;
}
.center-alignment {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-alignment-horizontal {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-alignment-vertical {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    padding-top: 2rem;
    max-width: inherit;
    width: 100%;
}

@media (min-width: 992px) {
    .content {
        padding-top: 12rem;
        max-width: inherit;
        width: 100%;
    }
}

.divider {
    height: 1px;
    width: 100%;
    margin: 1.4rem 0 1.4rem 0;
    background-color: var(--murmur-black);
}

.circular-loader {
    display: inline-block;
    border: 0.16rem solid var(--murmur-light-light-gray);
    border-left-color: transparent;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    animation: spin 1.2s linear infinite, fadeInBorder 0.6s forwards;
}

.author {
    padding-bottom: 1.4rem;
    user-select: none;
}

.author-name {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    color: var(--murmur-light-light-gray);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: left;
}

.author-name:before {
    background-color: var(--murmur-light-light-gray);
    content: "";
    display: inline-block;
    height: 0.15rem;
    width: 0;
    transition: all 0.2s linear;
}

.post {
    cursor: pointer;
}

.author-name:hover:before {
    margin-right: 0.5rem;
    width: 2rem;
}

.parapraphs {
    cursor: pointer;
}

.post-tags {
    display: block;
    text-align: left;
    padding-bottom: 1.4rem;
    user-select: none;
}

.post-tag::before {
    font-family: "Roboto Mono";
    position: relative;
    top: 0.05rem;
    font-size: 1.05rem;
    content: "###";
    width: 1.3ch;
    overflow: hidden;
    transition: all 0.15s linear;
    letter-spacing: 0.3ch;
    box-sizing: border-box;
}

.post-tag {
    display: inline-flex;
    font-size: 1rem;
    font-weight: 400;
    color: var(--murmur-light-light-gray);
    letter-spacing: 0.06rem;
    cursor: pointer;
}

.post-tag:hover::before {
    width: 4.1ch;
}

.interact .item {
    cursor: pointer;
    user-select: none;
}

.interact .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 24;
    font-size: 1.3rem;
    color: var(--murmur-light-light-gray);
    padding-right: 0.3rem;
}

.fill {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 24 !important;
    font-size: 1.3rem;
    color: var(--murmur-light-light-gray);
    padding-right: 0.3rem;
}

.interact .item:hover .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 24;
    font-size: 1.3rem;
    color: var(--murmur-light-light-gray);
    padding-right: 0.3rem;
}

.interact .item:active .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 24;
    font-size: 1.3rem;
    color: var(--murmur-light-light-gray);
    padding-right: 0.3rem;
}

.interact .item .number {
    position: relative;
    bottom: 0.4rem;
    font-size: 0.95rem;
    color: var(--murmur-light-light-gray);
    padding-right: 1.3rem;
    letter-spacing: 0.1rem;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInBorder {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: transparent;
    }
    75% {
        border-color: var(--murmur-light-light-gray);
        border-left-color: transparent;
    }
    100% {
        border-color: var(--murmur-light-light-gray);
        border-left-color: transparent;
    }
}

/* First Load */
/* TODO */
.first-load {
    animation: firstLoad 1.5s linear forwards;
}

@keyframes firstLoad {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutNIn {
    0% {
        display: block;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* CSS Transition Group */

.forward-exit {
    opacity: 1;
}

.forward-exit-active {
    opacity: 0;
    transition: opacity 0.05s linear;
}

.forward-enter {
    opacity: 0;
    background: var(--murmur-dark-black);
}

.forward-enter-active {
    opacity: 1;
    background: var(--murmur-dark-black);
    transition: background-color 0.05s linear 0.2s, opacity 0.05s linear 0.25s;
}