.user .intro {
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .user .actions .indicator {
    margin-bottom: 2rem;
  }
}

.user .header {
  align-items: flex-end;
  padding-bottom: 3rem;
}
.user .name {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.08rem;
  padding-bottom: 0.4rem;
  text-align: justify;
  color: var(--murmur-light-light-gray);
}

.user .nameZH {
  margin: 0;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.08rem;
  text-align: justify;
  color: var(--murmur-light-light-gray);
}

@media (max-width: 768px) {
  .user .logout-lg {
    display: none;
  }
}

@media (min-width: 769px) {
  .user .logout-sm {
      display: none;
    }
}


.user .logout-sm {
  text-align: right;
}
.user .logout-sm .material-symbols-outlined {
  font-size: 1.8rem;
  padding: 1rem 0 0 1rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.user .logout-lg {
  height: 6rem;
  position: fixed;
  bottom: 0;
  right: 3rem;
}

.user .logout-lg .icon {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  overflow: hidden;
  color: var(--murmur-light-light-gray);
  text-decoration: none;
}

.user .logout-lg .material-symbols-outlined {
  font-size: 1.8rem;
}