*,
*::before,
*::after { 
  box-sizing: border-box;
}

.feed .posts{
    padding-bottom: 12rem;
}

.feed .author {
    padding-bottom: 1.5rem;
}
.feed .author-name {
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: left;
}

.underline-animation {
    position: relative;
    padding-bottom: 0.5rem;
}
.underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--murmur-light-light-gray);
    transform-origin: bottom right;
    transition: transform 0.2s linear;
}
.feed .author-name:hover .underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.feed p {
    font-size: 1.05rem;
    line-height: 1.6;
    letter-spacing: 0.08rem;
    margin-bottom: 1.2rem;
    text-align: justify;
}

.feed .interact .interact_item {
    cursor: pointer;
}
.feed .interact .number {
    position: relative;
    bottom: 0.4rem;
    font-size: 0.95rem;
    color: var(--murmur-light-light-gray);
    padding: 1rem 1rem 1rem 0;
    letter-spacing: 0.1rem;
}
.feed .interact .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 24;
    font-size: 1.3rem;
    color: var(--murmur-light-light-gray);
    padding: 1rem 0.1rem 1rem 0;
}
.feed .interact .interact_item:hover .material-symbols-outlined,
.feed .interact .interact_item:focus .material-symbols-outlined
 {
    font-variation-settings:
    'FILL' 1;
}