*,
*::before,
*::after { 
  box-sizing: border-box;
}

.feed .feeds{
    padding-bottom: 12rem;
}

.feed .author {
    padding-bottom: 1.5rem;
}
.feed .author-name {
    cursor: pointer;
    padding-bottom: 0.35rem;
    font-size: 1.05rem;
    font-weight: 600;
    border-bottom: solid 0.15rem var(--murmur-dark-black);
    letter-spacing: 0.1rem;
    text-align: left;
    transition: all 0.1s;
}
.feed .author-name:hover {
    border-bottom: solid 0.15rem var(--murmur-light-light-gray);
}

.feed p {
    font-size: 1.05rem;
    line-height: 1.6;
    letter-spacing: 0.08rem;
    margin-bottom: 1.2rem;
    text-align: justify;
}

.feed .interact .interact_item {
    display: inline-block;
    cursor: pointer;
}
.feed .interact .number {
    display: inline-block;
    position: relative;
    bottom: 0.4rem;
    font-size: 0.95rem;
    color: var(--murmur-light-light-gray);
    padding: 1rem 1.2rem 0rem 0;
    letter-spacing: 0.1rem;
}
.feed .interact .material-symbols-outlined {
    display: inline-block;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 24;
    font-size: 1.3rem;
    color: var(--murmur-light-light-gray);
    padding: 1rem 0.2rem 0rem 0;
}
.feed .interact .interact_item:hover .material-symbols-outlined,
.feed .interact .interact_item:focus .material-symbols-outlined
 {
    font-variation-settings:
    'FILL' 1;
}

.feed .divider {
    height: 1px;
    width: 100%;
    margin: 2rem auto 2rem auto;
    background-color: var(--murmur-black);
}