*,
*::before,
*::after { 
  box-sizing: border-box;
}

.post .author {
    padding-bottom: 1.4rem;
}
.post .author-name {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: left;
}

.post .author-name:before {
    background-color: var(--murmur-white);
    content: "";
    display: inline-block;
    height: 0.15rem;
    width: 0;
    transition: all 0.2s linear;
}

.post .author-name:hover:before {
    margin-right: 0.5rem;
    width: 2rem;
}

.post .interact .item {
    cursor: pointer;
}
.post .interact .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 24;
    font-size: 1.3rem;
    color: var(--murmur-light-light-gray);
    padding-right: 0.3rem;
}
.post .interact .number {
    position: relative;
    bottom: 0.4rem;
    font-size: 0.95rem;
    color: var(--murmur-light-light-gray);
    padding-right: 1.3rem;
    letter-spacing: 0.1rem;
}
.post .interact .item:hover .material-symbols-outlined,
.post .interact .item:focus .material-symbols-outlined
 {
    font-variation-settings:
    'FILL' 1;
}