@media (min-width: 992px) {
.navbar {
    position: fixed;
    top: 0;
    pointer-events: none;
}
.navbar .logo {
    pointer-events: auto;
}
.navbar .icon {
    pointer-events: auto;
}
}

.navbar {
    z-index: 100;
    justify-content: flex-start;
    height: 6rem;
    padding: 0 3rem 0 3rem;
    background-color: transparent;
    transition: all 0.5s ease-out;
    user-select: none;
}


.navbar .logo .material-symbols-outlined{
    display: inline-flex;
    font-size: 2.2rem;
    color: var(--murmur-light-light-gray);
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.navbar .logo:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24
}

.navbar .icons {
    display: inline-flex;
    margin-left: auto;
}

.navbar .icon {
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    overflow: hidden;
    color: var(--murmur-light-light-gray);
    text-decoration: none;
}

.navbar .icon .material-symbols-outlined {
    font-size: 1.6rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24
}

.navbar .fill {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24 !important
}

.navbar .icon:hover .material-symbols-outlined,
.navbar .icon:focus .material-symbols-outlined,
.navbar .icon:active .material-symbols-outlined {
    font-size: 1.6rem;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24
}

@media (max-width: 993px) {

.navbar {
    position: fixed;
    bottom: 0rem;
    height: 4rem;
    padding: 0 2rem 2rem 2rem;
    background-color: var(--murmur-dark-black);
    z-index: 100;
}

.navbarHide {
    display: none;
}

.navbarShow {
    display: block;
}

.navbar .icons {
    width: 100%;
    justify-content: space-between;
}
}