@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.write .middle{
    position: relative;
    color: var(--murmur-dark-gray);
    padding: 1.4rem 0 1.4rem 0;
}

.write .author {
    padding-bottom: 1.4rem;
}

.write .author-name {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: left;
    color: var(--murmur-light-light-gray);
}

.write .textArea {
    width: 100%;
    line-height: 1.6;
    min-height: 1.6rem;
    height: auto;
    padding: 0 0 0 0;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    font-family: "Noto Sans TC";
    caret-color: var(--murmur-gray);
    color: var(--murmur-light-light-gray);
    background-color: var(--murmur-dark-black);
    resize: none;
    overflow-y: hidden;
    border: none;
}

.write .textArea:active,
.write .textArea:focus {
    outline: none;
    border: none;
}

.write .textArea::placeholder {
    color: var(--murmur-dark-gray);
}

.write .textArea:focus::placeholder {
    color: transparent;
}

.write .material-symbols-outlined {
    display: block;
    position: absolute;
    right: -2rem;
    bottom: -7rem;
    cursor: pointer;
    padding: 2rem;
    color: var(--murmur-dark-gray);
}

.write .active {
    display: block;
    color: var(--murmur-light-light-gray);
}

.write .active:hover, .write .active:focus, .write .active:active {
    font-variation-settings:
        'FILL' 1;
}

.write .post-tags {
    position: relative;
    padding-top: 2rem;
    display: block;
}

.write .post-tags {
    text-align: left;
    color: var(--murmur-light-light-gray);
}

.write .post-tag::before {
    font-family: "Roboto Mono";
    position: relative;
    font-size: 1.05rem;
    content: "#";
    width: 1.3ch;
    overflow: hidden;
    transition: all 0.15s linear;
    letter-spacing: 0.3ch;
    box-sizing: border-box;
}

.write .post-tag {
    display: inline-flex;
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    cursor: pointer;
}

.write .post-input {
    position: relative;
    width: 100%;
    bottom: 0.05rem;
    caret-color: var(--murmur-dark-gray);
    background-color: transparent;
    color: var(--murmur-light-light-gray);
    outline: none;
    border: none;
}