@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.addComment {
  position: relative;
  color: var(--murmur-dark-gray);
}

.addComment .textArea {
  width: 100%;
  line-height: 1.6;
  min-height: 1.6rem;
  height: auto;
  padding: 0 0 0 0;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  font-family: "Noto Sans TC";
  color: var(--murmur-light-light-gray);
  background-color: var(--murmur-dark-black);
  resize: none;
  overflow-y: hidden;
  border: none;
}

.addComment .textArea:active,
.addComment .textArea:focus {
  outline: none;
  border: none;
}

.addComment .textArea:focus::placeholder {
  color: transparent;
}

.addComment .material-symbols-outlined {
  display: none;
  font-size: 1.6rem;
  position: absolute;
  right: -6rem;
  bottom: 0;
  cursor: pointer;
  padding: 2rem;
}

.addComment .empty {
  display: block;
  color: var(--murmur-dark-gray);
}

.addComment .active {
  display: block;
  color: var(--murmur-light-light-gray);
}

.addComment .active:hover, .addComment .active:focus, .addComment .active:active{
  font-variation-settings:
    'FILL' 1;
}

.addComment .circular-loader {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  right: -3.9rem;
  bottom: 2.1rem;
}

.comment .addComment {
  padding-left: 1.5rem;
}