.comment .author {
  padding-bottom: 0.6rem;
}
.comment p {
  padding-bottom: 0.6rem;
}

.comment .author-name {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.comment .author-name:before {
  background-color: var(--murmur-light-light-gray);
  content: "";
  display: inline-block;
  height: 0.15rem;
  width: 0;
  transition: all 0.15s linear;
}

.comment .author-name:hover:before {
  margin-right: 0.5rem;
  width: 1.5rem;
}

.comment .divider {
  margin: 0.8rem auto 1.4rem auto;
}

.comment .icon {
  position: relative;
  right: -3rem;
  bottom: 1.5rem;
  height: 3rem;
  width: 3rem;
  margin-left: auto;
  transition: all linear 0.05s;
}

.comment .iconHorizontal {
  position: relative;
  right: -1rem;
  top: 1.5rem;
  height: 1px;
  width: 1rem;
  background-color: var(--murmur-black);
}

.comment .iconVerticle {
  position: relative;
  right: -1rem;
  top: 1.5rem;
  height: 1px;
  width: 1rem;
  background-color: var(--murmur-black);
  transform: rotate(90deg);
}

.comment .accordion {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.iconHide {
  display: none;
}

.iconShow {
  display: block;
}