*,
*::before,
*::after {
  box-sizing: border-box;
}

.postPage .parapraphs {
  cursor: auto;
}

.postPage .paragraphs {
  padding-bottom: 2.5rem;
  border-bottom: solid 1.5px var(--murmur-black);
} 

.postPage .post-tags {
  display: block;
}

.postPage .post-tags {
  text-align: left;
  padding-bottom: 1.4rem;
}

.postPage .post-tag::before {
  font-family: "Roboto Mono";
  position: relative;
  top: 0.05rem;
  font-size: 1.05rem;
  content: "###";
  width: 1.3ch;
  overflow: hidden;
  transition: all 0.15s linear;
  letter-spacing: 0.3ch;
  box-sizing: border-box;
}

.postPage .post-tag {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  cursor: pointer;
}

.postPage .post-tag:hover::before {
  width: 4.1ch;
}

.postPage .comments {
  padding-bottom: 9rem;
  cursor: pointer;
}

.postPage .comment .material-symbols-outlined {
  font-size: 1.8rem;
  font-weight: 300;

  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}

.postPage .comment-content {
  font-size: 1.05rem;
  line-height: 1.6;
  letter-spacing: 0.08rem;
  text-align: justify;
  margin-bottom: 1.4rem;
}